* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aqua;
}

.container {
    color: black;
    max-width:  640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

input, label {
    display: block;
}